# Xcode
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build artifacts
build/
DerivedData/
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/

# Sample App (optional - can be committed or ignored)
# SampleApp/
